/*=================================================================*/
/*====================== Css Main =========== =====================*/
/*=================================================================*/

body, html
{
    background: #cfd9e2;
    text-align: center;
}

header.headerPage
{
    background: #ced8e1;
    position: relative;
    width: 100%;
    height: 5rem;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.titleMsg a
{
    text-decoration: none;
    color:#0d2c3f;
    letter-spacing: .1rem;
}

.function-content 
{
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.function-content i
{
    font-size: 1.8rem;
    color: #0d2c3f;
    padding: .5rem;
    border-radius: .7rem;
    transition: .3s;
    cursor: pointer;

}
.function-content i:hover
{
    background: #0d2c3f;
    color: #dadada;
}
.detailsContent
{
    background: #2c2e2f;
    position: relative;
    width: 100%;
    height: 30rem;
    padding: 2rem;

    display: grid;
    row-gap: 1.5rem;
}
.detailsContent article
{
    width: 100%;
    text-align: center;
}
.txt
{
    color: #e0e0e0;
    filter: drop-shadow(0 0 20px #fefefe61);
}
.txtlarge
{
    font-size: 5rem;
}

#RedirectProjects
{
    border: none;
    background: #6964e2;
    color: #fefefe;
    padding: 1rem 3.5rem 1rem 3.5rem;
    font-size: 1.8rem;
    border-radius: 2.5rem;
    transition: .3s;
}
#RedirectProjects:hover
{
    transform: scale(.9);
    filter: drop-shadow(0 0 20px #3e4b9d);

}

.container
{
    position: relative;
    width: 100%;
}

.cardsContent
{
    position: relative;
    height: 20rem;
    margin-top: -7rem;
    display: flex;
    justify-content: space-around;
}
.cards,
.cardsLong
{
    background: #6964e2;
    width: 15rem;
    height: 20rem;
    border-radius: 1rem;
}

.titleMain
{
    font-size: 5rem;
    text-align: center;
    font-family: sans-serif; 
    padding: 3rem;  
}

.cardsGrid
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 2rem;
}

.cardsGridSmall
{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5rem;
    row-gap: 2rem;
}
.cardsLong
{
    margin-left: -9px;
    width: 35rem;
}


.contentCardsMove
{
    background: #2c2e2f;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contentCardsMove i
{
    font-size: 5rem;
    color: #fefefe;
    transition: .3s;
    padding: .3rem;
    border-radius: .7rem;
    cursor: pointer;
}
.contentCardsMove i:hover
{
    transform: scale(.9);
    color: rgb(42, 38, 38);
    background: #fefefe;
}